.detail{
    flex: 1;
    .user{
        padding: 30px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        border-bottom: 1px solid #dddddd35;
        text-align: center;

        p{
            color: white;
            font-size: 14px;
        }

        img{
            width: 60px;
            height: 60px;
            border-radius: 50%;
            object-fit: cover;
        } 
    }

    .info{
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 25px;

        .option{

            display: flex;
            flex-direction: column; /* Ensures options are stacked vertically */
            gap: 10px;


        .title{
            display: flex;
            align-items: center;
            justify-content: space-between;

            img{
                width: 30px;
                height: 30px;
                background-color: rgba(17, 25, 40, 0.3);
                padding: 10px;
                border-radius: 50%;
                cursor: pointer;
            }
        }

        .photos{
            display: flex;
            flex-direction: column ;
            gap: 20px;
            margin-top: 20px;

            .photoItem{

                display: flex;
                align-items: center;
                justify-content:space-between ;

                .photoDetail{

                    display: flex;
                    align-items: center;
                    gap: 20px;

                    img{
                        width: 40px;
                        height: 40px;
                        border-radius: 5px;
                        object-fit: cover;
                    }

                    span{
                        font-size:14px ;
                         color: lightgrey;
                         font-weight: 300;
                    }

                }

                .icon{
                    width: 30px;
                    height: 30px;
                    background-color: rgba(17, 25, 40, 0.3);
                    padding: 10px;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }
        }

  
    }

    button{

        padding: 15px;
        background-color: rgba(230, 74, 105, 0.55);
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 5px;

        &:hover{   /* if the Mouse on the Button */
            background-color: rgba(255, 0, 0, 0.9);
        }

        &.logout{  /* if the Classname is logout */

            padding: 10px;
            background-color: rgba(18, 92, 230, 0.3) ;
            &:hover{   /* if the Mouse on the Button */
                background-color: rgba(17, 0, 255, 0.9);
            }
        }

    }

    }



}

